.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr ;
}

.dialogs .dialogsItems {
    padding: 10px;
}

.dialogs .dialogsItems .active {
    color: slateblue;
}

.dialogs .dialogsItems .dialog {}


.messages {
    padding: 10px;
}

.messages .message {}

.avatar {
    height: 30px;
    width: 30px;
    padding-right: 5px;
}

